cold-caller/n8n/call-results-webhook.json
{
  "name": "VAPI Call Results — Internal Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-call-results",
        "options": {},
        "responseMode": "onReceived"
      },
      "id": "node-webhook",
      "name": "Receive VAPI Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        400
      ],
      "webhookId": "vapi-call-results"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "filter-end",
              "leftValue": "={{ $json.body?.message?.type }}",
              "rightValue": "end-of-call-report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-filter",
      "name": "Only End-of-Call Events",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.body?.message || {};\nconst call = msg.call || {};\nconst vars = call.assistantOverrides?.variableValues || {};\nconst analysis = msg.analysis || {};\nconst structured = analysis.structuredData || {};\nconst artifact = msg.artifact || {};\nconst recordingUrl = artifact.recordingUrl || msg.recordingUrl || '';\n\n// Extract outcome: try structuredData first, then infer from endedReason\nlet outcome = structured.outcome || '';\nif (!outcome) {\n  const reason = msg.endedReason || '';\n  const dur = msg.durationSeconds || 0;\n  if (reason.includes('voicemail') || reason.includes('machine')) outcome = 'voicemail';\n  else if (reason.includes('no-answer') || dur < 10) outcome = 'no_answer';\n  else outcome = 'completed';\n}\n\n// Check if customer asked to be removed\nconst transcript = (msg.transcript || '').toLowerCase();\nconst removed = transcript.includes('remove me') || transcript.includes('do not call') || outcome === 'removed_from_list';\nif (removed) outcome = 'removed_from_list';\n\nreturn [{ json: {\n  call_id: call.id || '',\n  phone: (call.customer?.number || '').replace(/\\D/g,'').replace(/^1/,''),\n  business_name: call.customer?.name || vars.business_name || '',\n  industry: vars.industry || '',\n  city: vars.city || '',\n  rating: vars.rating || '',\n  reviews_count: vars.reviews_count || '',\n  duration_seconds: msg.durationSeconds || 0,\n  ended_reason: msg.endedReason || '',\n  outcome: outcome,\n  removed_from_list: removed,\n  summary: analysis.summary || msg.summary || '',\n  notes: structured.notes || '',\n  recording_url: recordingUrl,\n  transcript: (msg.transcript || '').substring(0, 2000),\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "node-extract",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.callResults) staticData.callResults = [];\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (staticData.callResults.length >= 500) staticData.callResults = staticData.callResults.slice(-400);\n  staticData.callResults.push({\n    call_id: j.call_id || '',\n    phone: j.phone || '',\n    business_name: j.business_name || '',\n    industry: j.industry || '',\n    city: j.city || '',\n    outcome: j.outcome || '',\n    ended_reason: j.ended_reason || '',\n    duration_seconds: j.duration_seconds || 0,\n    summary: (j.summary || '').substring(0, 500),\n    notes: (j.notes || '').substring(0, 300),\n    recording_url: j.recording_url || '',\n    transcript: (j.transcript || '').substring(0, 2000),\n    removed_from_list: j.removed_from_list === true,\n    timestamp: new Date().toISOString()\n  });\n  out.push({ json: j });\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "id": "node-save-internal",
      "name": "Save Result (Internal)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/pipeline-record-result",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, outcome: $json.outcome, duration_seconds: $json.duration_seconds, summary: $json.summary, removed_from_list: $json.removed_from_list === true }) }}",
        "options": {}
      },
      "id": "node-forward",
      "name": "Update Pipeline Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1080,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "node-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5381600986"
            },
            {
              "name": "text",
              "value": "={{ $json.tg_text }}"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const src = $('Save Result (Internal)').all();\nconst out = [];\nfor (const item of src) {\n  const j = item.json;\n  let head;\n  if (j.outcome === 'meeting_booked') head = 'MEETING GEBUCHT!!!';\n  else if (j.outcome === 'callback_requested') head = 'Callback gewuenscht';\n  else if (j.outcome === 'voicemail') head = 'Voicemail hinterlassen';\n  else if (j.outcome === 'no_answer') head = 'Nicht erreicht';\n  else if (j.outcome === 'not_interested') head = 'Kein Interesse';\n  else if (j.outcome === 'wrong_number') head = 'Falsche Nummer';\n  else if (j.outcome === 'removed_from_list') head = 'Von Liste entfernt (nie wieder anrufen)';\n  else head = 'Anruf beendet: ' + (j.outcome || '?');\n\n  const mins = Math.floor((j.duration_seconds || 0) / 60);\n  const secs = (j.duration_seconds || 0) % 60;\n  let text = 'ANRUF-ERGEBNIS: ' + head + '\\n\\n';\n  text += 'Firma: ' + (j.business_name || '?') + '\\n';\n  text += 'Telefon: ' + (j.phone || '') + '\\n';\n  text += 'Branche: ' + (j.industry || '?') + ' (' + (j.city || '?') + ')\\n';\n  text += 'Dauer: ' + (mins > 0 ? mins + 'm ' : '') + secs + 's\\n';\n\n  if (j.summary) text += '\\nZUSAMMENFASSUNG:\\n' + String(j.summary).substring(0, 500) + '\\n';\n  if (j.notes && j.notes !== j.summary) text += '\\nNOTIZEN: ' + String(j.notes).substring(0, 300) + '\\n';\n  if (j.recording_url) text += '\\nAUFNAHME ANHOEREN:\\n' + j.recording_url + '\\n';\n  if (j.transcript) text += '\\nTRANSKRIPT (Auszug):\\n' + String(j.transcript).substring(0, 800);\n\n  out.push({ json: { tg_text: text.substring(0, 3900) } });\n}\nreturn out;"
      },
      "id": "node-tg-builder",
      "name": "Build TG Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-5"
            }
          ]
        }
      },
      "id": "sched-report",
      "name": "Taeglich 18 Uhr Bericht",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        700
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-report",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh-report",
      "name": "Bericht Auf Anfrage",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        860
      ],
      "webhookId": "daily-report"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.callResults || [];\nconst dayMs = 24*60*60*1000;\nconst today = results.filter(r => Date.now() - new Date(r.timestamp).getTime() < dayMs);\n\nlet text = 'TAGESBERICHT (' + new Date().toLocaleDateString('de-DE') + ')\\n';\ntext += '════════════════\\n\\n';\n\nif (!today.length) {\n  text += 'Heute keine Anrufe.\\n\\nGesamt gespeichert: ' + results.length + ' Anrufe.';\n  return [{ json: { tg_text: text } }];\n}\n\n// Statistik\nconst counts = {};\nlet totalDur = 0, answered = 0, quickHangups = 0;\nfor (const r of today) {\n  counts[r.outcome || '?'] = (counts[r.outcome || '?'] || 0) + 1;\n  totalDur += r.duration_seconds || 0;\n  const isLive = !['voicemail','no_answer','wrong_number'].includes(r.outcome) && (r.duration_seconds||0) > 0;\n  if (isLive) {\n    answered++;\n    if ((r.duration_seconds||0) < 20) quickHangups++;\n  }\n}\nconst labels = { meeting_booked:'Meetings gebucht', callback_requested:'Callbacks', not_interested:'Kein Interesse', voicemail:'Voicemail', no_answer:'Nicht erreicht', wrong_number:'Falsche Nummer', removed_from_list:'Von Liste entfernt', completed:'Beendet (ohne Einstufung)' };\n\ntext += 'ANRUFE HEUTE: ' + today.length + '\\n';\nfor (const [k,v] of Object.entries(counts)) text += '- ' + (labels[k]||k) + ': ' + v + '\\n';\ntext += '- Dran gegangen: ' + answered + ' (' + Math.round(answered/today.length*100) + '%)\\n';\ntext += '- Gesamt-Gespraechszeit: ' + Math.round(totalDur/60) + ' Min\\n';\n\n// Verbesserungs-Signale\ntext += '\\nVERBESSERUNGS-SIGNALE:\\n';\nif (answered > 0 && quickHangups/answered > 0.5) text += '- ' + quickHangups + ' von ' + answered + ' legten in unter 20 Sek auf -> Opener pruefen!\\n';\nelse if (answered > 0) text += '- Auflege-Quote unter 20 Sek: ' + quickHangups + '/' + answered + ' (ok)\\n';\nconst vmRate = (counts.voicemail||0) / today.length;\nif (vmRate > 0.5) text += '- ' + Math.round(vmRate*100) + '% Voicemail -> andere Uhrzeit testen?\\n';\nif ((counts.meeting_booked||0) > 0) text += '- ' + counts.meeting_booked + ' MEETING(S) GEBUCHT!\\n';\n\n// Liste aller angerufenen Firmen\ntext += '\\nANGERUFENE FIRMEN:\\n';\nfor (const r of today) {\n  const dur = (r.duration_seconds||0);\n  text += '- ' + (r.business_name||'?') + ' (' + (r.city||'?') + ', ' + (r.industry||'?') + ') -> ' + (labels[r.outcome]||r.outcome||'?') + ' [' + dur + 's]\\n';\n}\n\ntext += '\\nGesamt-Datenbank: ' + results.length + ' Anrufe gespeichert.';\nreturn [{ json: { tg_text: text.substring(0, 3900) } }];"
      },
      "id": "code-report",
      "name": "Bericht Erstellen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        780
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5381600986"
            },
            {
              "name": "text",
              "value": "={{ $json.tg_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tg-report",
      "name": "TG: Tagesbericht",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        780
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Receive VAPI Results": {
      "main": [
        [
          {
            "node": "Only End-of-Call Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only End-of-Call Events": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Save Result (Internal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Result (Internal)": {
      "main": [
        [
          {
            "node": "Update Pipeline Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pipeline Lead Status": {
      "main": [
        [
          {
            "node": "Build TG Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TG Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taeglich 18 Uhr Bericht": {
      "main": [
        [
          {
            "node": "Bericht Erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bericht Auf Anfrage": {
      "main": [
        [
          {
            "node": "Bericht Erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bericht Erstellen": {
      "main": [
        [
          {
            "node": "TG: Tagesbericht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "DHlyso6CqDknJfBz"
  }
}