cold-caller/n8n/full-pipeline-workflow.json
{
  "name": "Team Gold \u2014 Full Pipeline (Leads \u2192 Draft \u2192 Call \u2192 Track)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Run Daily 9am (Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        180,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURE THESE\nconst INDUSTRIES = ['plumber', 'electrician', 'hvac contractor', 'roofer', 'painter'];\nconst CITIES = ['Austin TX', 'Houston TX', 'Dallas TX', 'Phoenix AZ', 'Las Vegas NV'];\nconst LEADS_PER_RUN = 10;\n\n// Pick a random city and industry for this run\nconst city = CITIES[Math.floor(Math.random() * CITIES.length)];\nconst industry = INDUSTRIES[Math.floor(Math.random() * INDUSTRIES.length)];\n\nreturn [{ json: { city, industry, leads_per_run: LEADS_PER_RUN, search_query: industry + ' in ' + city } }];"
      },
      "id": "node-config",
      "name": "Set Target City & Industry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://maps.googleapis.com/maps/api/place/textsearch/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "key",
              "value": "AIzaSyCndiGA-NcAxAu3zcyZSSiEUPkJRK4D91o"
            },
            {
              "name": "type",
              "value": "establishment"
            }
          ]
        },
        "options": {}
      },
      "id": "node-places",
      "name": "Google Places \u2014 Find Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        580,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.results || [];\nconst city = $('Set Target City & Industry').item.json.city;\nconst industry = $('Set Target City & Industry').item.json.industry;\nconst limit = $('Set Target City & Industry').item.json.leads_per_run;\n\n// Filter: no website, has phone number\nconst leads = results\n  .filter(r => !r.website && r.formatted_phone_number)\n  .slice(0, limit)\n  .map(r => ({\n    business_name: r.name,\n    phone: r.formatted_phone_number.replace(/[^0-9+]/g, ''),\n    address: r.formatted_address || '',\n    industry: industry,\n    city: city.split(' ')[0],\n    state: city.split(' ')[1] || '',\n    has_website: 'no',\n    rating: r.rating || 0,\n    reviews_count: r.user_ratings_total || 0,\n    place_id: r.place_id,\n    status: 'new'\n  }));\n\nif (leads.length === 0) return [];\nreturn leads.map(l => ({ json: l }));"
      },
      "id": "node-filter-leads",
      "name": "Filter: No Website + Has Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1BTrTjm1vTC9o9041AvLAPwu_hgEzOssFCP0esgSono0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "node-read-existing",
      "name": "Read Existing Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const newLead = $('Filter: No Website + Has Phone').item.json;\nconst existing = $('Read Existing Leads').all().map(i => i.json);\n\n// Skip if phone OR place_id already in sheet\nconst alreadyContacted = existing.some(row => \n  (row.phone && row.phone === newLead.phone) ||\n  (row.place_id && row.place_id === newLead.place_id)\n);\n\nif (alreadyContacted) {\n  return [];\n}\nreturn [{ json: newLead }];"
      },
      "id": "node-dedup",
      "name": "Skip If Already Called",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://maps.googleapis.com/maps/api/place/details/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            },
            {
              "name": "fields",
              "value": "rating,user_ratings_total,reviews,opening_hours,business_status"
            },
            {
              "name": "key",
              "value": "AIzaSyCndiGA-NcAxAu3zcyZSSiEUPkJRK4D91o"
            }
          ]
        },
        "options": {}
      },
      "id": "node-place-details",
      "name": "Get Place Details (Rating + Reviews)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Skip If Already Called').item.json;\nconst details = $input.item.json.result || {};\n\n// Enrich lead with place details\nconst rating = details.rating || lead.rating || 0;\nconst reviews_count = details.user_ratings_total || lead.reviews_count || 0;\n\n// Get the most recent review text (first 120 chars)\nconst reviews = details.reviews || [];\nconst top_review = reviews.length > 0 \n  ? reviews[0].text.substring(0, 120).replace(/\\n/g, ' ') \n  : '';\n\n// Is business currently open?\nconst is_open = details.opening_hours?.open_now;\nconst hours_note = is_open === true ? 'currently open' : is_open === false ? 'currently closed' : '';\n\n// Build preview URL\nconst base = 'https://teamgoldllc.de/preview';\nconst params = new URLSearchParams({\n  name: lead.business_name,\n  type: lead.industry,\n  city: lead.city,\n  phone: lead.phone\n});\nconst preview_url = base + '?' + params.toString();\n\n// Build personalized WhatsApp message\nlet wa_message;\nif (reviews_count > 0) {\n  wa_message = `Hi ${lead.business_name}! This is Ryan from Team Gold.\\n\\nYou have ${reviews_count} reviews on Google with a ${rating}\u2b50 rating \u2014 clearly doing great work. But we noticed you don't have a website yet.\\n\\nWe put together a free website preview for ${lead.industry}s in ${lead.city}:\\n${preview_url}\\n\\nWant to see how this could bring you more calls? Book a free 30-min chat with our developer Atakan:\\nhttps://cal.com/atakanoztunc/30min`;\n} else {\n  wa_message = `Hi ${lead.business_name}! This is Ryan from Team Gold.\\n\\nWe noticed you don't have a website yet \u2014 you're missing out on customers searching for ${lead.industry}s in ${lead.city} on Google.\\n\\nWe put together a free website preview for you:\\n${preview_url}\\n\\nBook a free 30-min chat with our developer Atakan:\\nhttps://cal.com/atakanoztunc/30min`;\n}\n\nreturn [{ json: { \n  ...lead, \n  rating, \n  reviews_count,\n  top_review,\n  hours_note,\n  preview_url, \n  wa_message \n} }];"
      },
      "id": "node-gen-preview",
      "name": "Enrich + Generate Preview & Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BTrTjm1vTC9o9041AvLAPwu_hgEzOssFCP0esgSono0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "business_name": "={{ $json.business_name }}",
            "phone": "={{ $json.phone }}",
            "industry": "={{ $json.industry }}",
            "city": "={{ $json.city }}",
            "state": "={{ $json.state }}",
            "address": "={{ $json.address }}",
            "has_website": "no",
            "rating": "={{ $json.rating }}",
            "reviews_count": "={{ $json.reviews_count }}",
            "place_id": "={{ $json.place_id }}",
            "preview_url": "={{ $json.preview_url }}",
            "status": "pending",
            "added_at": "={{ new Date().toISOString() }}"
          },
          "schema": []
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "node-save-lead",
      "name": "Save Lead to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/REPLACE_WITH_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+REPLACE_WITH_TWILIO_WHATSAPP_NUMBER"
            },
            {
              "name": "To",
              "value": "=whatsapp:+1{{ $json.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.wa_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-whatsapp",
      "name": "Send WhatsApp with Draft Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1980,
        400
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "node-wait-2min",
      "name": "Wait 2 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2180,
        400
      ],
      "webhookId": "wait-before-call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fac0b324-7d83-4f8c-a396-584f5a5bfd47"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ phoneNumberId: 'e1be79b3-b1c3-42a4-a744-b298be092b26', assistantId: 'bdcc6edf-095f-4cdc-93d5-a138be0b1c0b', customer: { number: '+1' + $json.phone.replace(/\\D/g,''), name: $json.business_name }, assistantOverrides: { variableValues: { business_name: $json.business_name, industry: $json.industry, city: $json.city, rating: String($json.rating || ''), reviews_count: String($json.reviews_count || '0'), top_review: $json.top_review || '', preview_url: $json.preview_url } } }) }}",
        "options": {}
      },
      "id": "node-vapi-call",
      "name": "VAPI \u2014 Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2380,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BTrTjm1vTC9o9041AvLAPwu_hgEzOssFCP0esgSono0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "called",
            "call_id": "={{ $json.id }}",
            "called_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": []
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "node-update-called",
      "name": "Mark as Called in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2580,
        400
      ]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "node-wait-60",
      "name": "Wait 60s Before Next Lead",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2780,
        400
      ],
      "webhookId": "wait-between-leads"
    }
  ],
  "connections": {
    "Run Daily 9am (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Set Target City & Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target City & Industry": {
      "main": [
        [
          {
            "node": "Google Places \u2014 Find Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places \u2014 Find Businesses": {
      "main": [
        [
          {
            "node": "Filter: No Website + Has Phone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: No Website + Has Phone": {
      "main": [
        [
          {
            "node": "Skip If Already Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Leads": {
      "main": [
        [
          {
            "node": "Skip If Already Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Already Called": {
      "main": [
        [
          {
            "node": "Get Place Details (Rating + Reviews)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Place Details (Rating + Reviews)": {
      "main": [
        [
          {
            "node": "Enrich + Generate Preview & Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich + Generate Preview & Message": {
      "main": [
        [
          {
            "node": "Save Lead to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Google Sheets": {
      "main": [
        [
          {
            "node": "Send WhatsApp with Draft Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp with Draft Link": {
      "main": [
        [
          {
            "node": "Wait 2 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Minutes": {
      "main": [
        [
          {
            "node": "VAPI \u2014 Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI \u2014 Outbound Call": {
      "main": [
        [
          {
            "node": "Mark as Called in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Called in Sheets": {
      "main": [
        [
          {
            "node": "Wait 60s Before Next Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}