cold-caller/n8n/full-pipeline-workflow.json
{
  "name": "Team Gold — Full Pipeline (Leads → Draft → Call → Track)",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Run Daily 9am (Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "node-config",
      "name": "Set Config & Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ],
      "parameters": {
        "jsCode": "const CITIES = ['Austin TX','Houston TX','Dallas TX','Phoenix AZ','Las Vegas NV','San Antonio TX','Charlotte NC','Jacksonville FL','Fort Worth TX','Columbus OH','Memphis TN','Louisville KY','Baltimore MD','Milwaukee WI','Albuquerque NM'];\nconst INDUSTRIES = ['plumber','electrician','hvac contractor','roofer','painter','handyman','landscaper','pest control','carpet cleaning','pressure washing','garage door repair','window cleaning'];\nconst LEADS_PER_RUN = 5;\n\nconst city = CITIES[Math.floor(Math.random() * CITIES.length)];\nconst industry = INDUSTRIES[Math.floor(Math.random() * INDUSTRIES.length)];\n\nreturn [{ json: { city, industry, leads_per_run: LEADS_PER_RUN, search_query: industry + ' in ' + city } }];"
      }
    },
    {
      "id": "node-filter",
      "name": "Filter: No Website + Has Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const places = $input.item.json.places || [];\nconst config = $('Set Config & Target').first().json;\nconst city = config.city || '';\nconst industry = config.industry || '';\nconst limit = config.leads_per_run || 5;\n\n// New Places API format: displayName.text, nationalPhoneNumber, websiteUri, id\nconst leads = places\n  .filter(p => !p.websiteUri && p.nationalPhoneNumber && p.businessStatus !== 'CLOSED_PERMANENTLY')\n  .slice(0, limit)\n  .map(p => ({\n    business_name: (p.displayName && p.displayName.text) || '',\n    phone: p.nationalPhoneNumber.replace(/[^0-9+]/g, ''),\n    address: p.formattedAddress || '',\n    industry: industry,\n    city: city.split(' ')[0],\n    state: city.split(' ')[1] || '',\n    has_website: 'no',\n    rating: p.rating || 0,\n    reviews_count: p.userRatingCount || 0,\n    place_id: p.id,\n    status: 'new'\n  }));\n\nif (leads.length === 0) return [];\nreturn leads.map(l => ({ json: l }));"
      }
    },
    {
      "id": "node-check-called",
      "name": "Skip If Already Called",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst called = staticData.calledNumbers || {};\nconst calledPlaces = staticData.calledPlaces || {};\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  const phone = (j.phone || '').replace(/\\D/g, '');\n  const placeId = j.place_id || '';\n  if (!phone || phone.length < 7) continue;\n  if (called[phone]) continue;\n  if (placeId && calledPlaces[placeId]) continue;\n  out.push({ json: j });\n}\nreturn out;"
      }
    },
    {
      "id": "node-save-lead",
      "name": "Save Lead (Internal)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.leads) staticData.leads = [];\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  if (staticData.leads.length >= 500) staticData.leads = staticData.leads.slice(-400);\n  staticData.leads.push({\n    business_name: j.business_name || '',\n    phone: j.phone || '',\n    industry: j.industry || '',\n    city: j.city || '',\n    rating: j.rating || '',\n    reviews_count: j.reviews_count || 0,\n    place_id: j.place_id || '',\n    preview_url: j.preview_url || '',\n    status: 'new',\n    added_at: new Date().toISOString()\n  });\n  out.push({ json: j });\n}\nreturn out;"
      }
    },
    {
      "id": "node-mark-called",
      "name": "Mark as Called",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        400
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.calledNumbers) staticData.calledNumbers = {};\nif (!staticData.calledPlaces) staticData.calledPlaces = {};\nif (!staticData.leads) staticData.leads = [];\nconst out = [];\nfor (const item of $input.all()) {\n  const lead = $('Enrich + Generate Preview & Message').all()[out.length] ? $('Enrich + Generate Preview & Message').all()[out.length].json : item.json;\n  const phone = (lead.phone || '').replace(/\\D/g, '');\n  const placeId = lead.place_id || '';\n  const now = new Date().toISOString();\n  if (phone) staticData.calledNumbers[phone] = now;\n  if (placeId) staticData.calledPlaces[placeId] = now;\n  const idx = staticData.leads.findIndex(l => (l.phone||'').replace(/\\D/g,'') === phone);\n  if (idx >= 0) {\n    staticData.leads[idx].status = 'called';\n    staticData.leads[idx].called_at = now;\n  }\n  out.push({ json: { ...item.json, phone, place_id: placeId } });\n}\nreturn out;"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Goog-Api-Key",
              "value": "REPLACE_WITH_GOOGLE_PLACES_API_KEY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.id,places.displayName,places.nationalPhoneNumber,places.websiteUri,places.formattedAddress,places.rating,places.userRatingCount,places.businessStatus"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ textQuery: $json.search_query, maxResultCount: 20 }) }}",
        "options": {}
      },
      "id": "node-places",
      "name": "Google Places — Find Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://places.googleapis.com/v1/places/{{ $json.place_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "REPLACE_WITH_GOOGLE_PLACES_API_KEY"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "rating,userRatingCount,reviews,currentOpeningHours,businessStatus,nationalPhoneNumber"
            }
          ]
        },
        "options": {}
      },
      "id": "node-place-details",
      "name": "Get Place Details (Rating + Reviews)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1280,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const leads = $('Skip If Already Called').all().map(i => i.json);\nconst items = $input.all();\nconst out = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const details = items[i].json || {};\n  const lead = leads[i] || {};\n\n  const rawPhone = details.nationalPhoneNumber || lead.phone || '';\n  const phone = rawPhone.replace(/\\D/g, '').replace(/^1/, '');\n  if (!phone || phone.length < 10) continue;\n\n  const rating = details.rating || lead.rating || 0;\n  const reviews_count = details.userRatingCount || lead.reviews_count || 0;\n\n  const reviews = details.reviews || [];\n  const top_review = reviews.length > 0 && reviews[0].text && reviews[0].text.text\n    ? reviews[0].text.text.substring(0, 120).replace(/\\n/g, ' ')\n    : '';\n\n  const is_open = details.currentOpeningHours ? details.currentOpeningHours.openNow : undefined;\n  const hours_note = is_open === true ? 'currently open' : is_open === false ? 'currently closed' : '';\n\n  const base = 'https://teamgoldllc.de/preview';\n  const params = new URLSearchParams({\n    name: lead.business_name || '',\n    type: lead.industry || '',\n    city: lead.city || '',\n    phone: phone\n  });\n  const preview_url = base + '?' + params.toString();\n\n  let wa_message;\n  if (reviews_count > 0) {\n    wa_message = `Hi ${lead.business_name}! This is Ryan from Team Gold.\\n\\nYou have ${reviews_count} reviews on Google with a ${rating} star rating - clearly doing great work. But we noticed you don't have a website yet.\\n\\nWe put together a free website preview for ${lead.industry}s in ${lead.city}:\\n${preview_url}\\n\\nWant to see how this could bring you more calls? Book a free 30-min chat with our developer Atakan:\\nhttps://cal.com/atakanoztunc/30min`;\n  } else {\n    wa_message = `Hi ${lead.business_name}! This is Ryan from Team Gold.\\n\\nWe noticed you don't have a website yet - you're missing out on customers searching for ${lead.industry}s in ${lead.city} on Google.\\n\\nWe put together a free website preview for you:\\n${preview_url}\\n\\nBook a free 30-min chat with our developer Atakan:\\nhttps://cal.com/atakanoztunc/30min`;\n  }\n\n  out.push({ json: { ...lead, phone, rating, reviews_count, top_review, hours_note, preview_url, wa_message } });\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "id": "node-gen-preview",
      "name": "Enrich + Generate Preview & Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/REPLACE_WITH_TWILIO_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+REPLACE_WITH_TWILIO_WHATSAPP_NUMBER"
            },
            {
              "name": "To",
              "value": "=whatsapp:+1{{ $json.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.wa_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-whatsapp",
      "name": "Send WhatsApp with Draft Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "node-wait-2min",
      "name": "Wait 2 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1980,
        400
      ],
      "webhookId": "wait-before-call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_VAPI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ phoneNumberId: 'e1be79b3-b1c3-42a4-a744-b298be092b26', assistantId: 'bdcc6edf-095f-4cdc-93d5-a138be0b1c0b', customer: { number: '+1' + $json.phone.replace(/\\D/g,''), name: $json.business_name }, assistantOverrides: { variableValues: { business_name: $json.business_name, industry: $json.industry, city: $json.city, rating: String($json.rating || ''), reviews_count: String($json.reviews_count || '0'), top_review: $json.top_review || '', preview_url: $json.preview_url } } }) }}",
        "options": {}
      },
      "id": "node-vapi-call",
      "name": "VAPI — Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2060,
        400
      ]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "node-wait-60",
      "name": "Wait 60s Before Next Lead",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2440,
        400
      ],
      "webhookId": "wait-between-leads"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-record-result",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh-record-result",
      "name": "Record Call Result",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        800
      ],
      "webhookId": "pipeline-record-result"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.leads) staticData.leads = [];\nif (!staticData.calledNumbers) staticData.calledNumbers = {};\n\nconst b = $json.body || {};\nconst phone = (b.phone || '').replace(/\\D/g, '').replace(/^1/, '');\nif (!phone) return [{ json: { ok: false, reason: 'no phone' } }];\n\nconst now = new Date().toISOString();\nconst idx = staticData.leads.findIndex(l => (l.phone||'').replace(/\\D/g,'').replace(/^1/,'') === phone);\nif (idx >= 0) {\n  staticData.leads[idx].outcome = b.outcome || '';\n  staticData.leads[idx].duration_seconds = b.duration_seconds || 0;\n  staticData.leads[idx].summary = (b.summary || '').substring(0, 300);\n  staticData.leads[idx].result_at = now;\n  if (b.outcome === 'meeting_booked') staticData.leads[idx].status = 'meeting_booked';\n  else if (b.outcome === 'callback_requested') staticData.leads[idx].status = 'callback';\n}\n\n// Blacklist: never call again if customer asked to be removed\nif (b.removed_from_list === true || b.outcome === 'removed_from_list') {\n  staticData.calledNumbers[phone] = 'BLACKLISTED';\n  if (idx >= 0) staticData.leads[idx].status = 'blacklisted';\n}\n\nreturn [{ json: { ok: true, phone, updated: idx >= 0 } }];"
      },
      "id": "code-record-result",
      "name": "Update Lead Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "leads-dashboard",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-dashboard",
      "name": "Leads Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1000
      ],
      "webhookId": "leads-dashboard"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst leads = staticData.leads || [];\nconst called = staticData.calledNumbers || {};\nconst stats = {\n  total_leads: leads.length,\n  called: leads.filter(l => l.status === 'called').length,\n  meetings_booked: leads.filter(l => l.status === 'meeting_booked').length,\n  callbacks: leads.filter(l => l.status === 'callback').length,\n  blacklisted: Object.values(called).filter(v => v === 'BLACKLISTED').length,\n  total_numbers_tracked: Object.keys(called).length\n};\nreturn [{ json: { stats, leads: leads.slice(-100).reverse() } }];"
      },
      "id": "code-dashboard",
      "name": "Build Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        1000
      ]
    }
  ],
  "connections": {
    "Run Daily 9am (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Set Config & Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config & Target": {
      "main": [
        [
          {
            "node": "Google Places — Find Businesses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Places — Find Businesses": {
      "main": [
        [
          {
            "node": "Filter: No Website + Has Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: No Website + Has Phone": {
      "main": [
        [
          {
            "node": "Skip If Already Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Already Called": {
      "main": [
        [
          {
            "node": "Get Place Details (Rating + Reviews)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Place Details (Rating + Reviews)": {
      "main": [
        [
          {
            "node": "Enrich + Generate Preview & Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich + Generate Preview & Message": {
      "main": [
        [
          {
            "node": "Save Lead (Internal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead (Internal)": {
      "main": [
        [
          {
            "node": "Send WhatsApp with Draft Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp with Draft Link": {
      "main": [
        [
          {
            "node": "Wait 2 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Minutes": {
      "main": [
        [
          {
            "node": "VAPI — Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VAPI — Outbound Call": {
      "main": [
        [
          {
            "node": "Mark as Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Called": {
      "main": [
        [
          {
            "node": "Wait 60s Before Next Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Call Result": {
      "main": [
        [
          {
            "node": "Update Lead Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leads Dashboard": {
      "main": [
        [
          {
            "node": "Build Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}