cold-caller/n8n/telegram-bot-commands.json
{
  "name": "Telegram Bot — Befehle (start/status)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-bot-commands",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh-tg",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "tg-bot-commands"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ALLOWED_CHAT = '5381600986';\nconst upd = $input.first().json.body || $input.first().json;\nconst msg = upd.message || {};\nconst chatId = String((msg.chat || {}).id || '');\nconst text = (msg.text || '').trim().toLowerCase();\n\nif (chatId !== ALLOWED_CHAT) {\n  return [{ json: { action: 'ignore', chat_id: chatId } }];\n}\n\nlet action = 'help';\nif (text === '/start' || text === 'start' || text === '/run' || text === 'los') action = 'start';\nelse if (text === '/bericht' || text === 'bericht' || text === '/report' || text === 'report') action = 'report';\nelse if (text === '/demo' || text === 'demo' || text === 'testanruf') action = 'demo';\nelse if (text === '/status' || text === 'status') action = 'status';\n\nreturn [{ json: { action, chat_id: chatId, text } }];"
      },
      "id": "code-parse",
      "name": "Befehl Erkennen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-start",
      "name": "Ist Start-Befehl?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.154.67.223/webhook/start-pipeline-tg",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"source\": \"telegram\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-start",
      "name": "Pipeline Starten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5381600986"
            },
            {
              "name": "text",
              "value": "PIPELINE GESTARTET! Du bekommst gleich die Updates zu jedem Schritt."
            }
          ]
        },
        "options": {}
      },
      "id": "tg-confirm-start",
      "name": "TG: Start Bestaetigt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5381600986"
            },
            {
              "name": "text",
              "value": "Befehle:\nstart - Pipeline sofort starten (sucht Leads + ruft an)\ndemo - Ryan ruft DICH zum Test an\nbericht - Tagesbericht mit allen Anruf-Ergebnissen\nstatus - System Status\n\nAutomatisch: Pipeline Mo-Fr 9am EDT, Tagesbericht Mo-Fr 18 Uhr (EDT)."
            }
          ]
        },
        "options": {}
      },
      "id": "tg-help",
      "name": "TG: Hilfe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        420
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-report",
      "name": "Ist Bericht-Befehl?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.154.67.223/webhook/daily-report",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"source\": \"telegram\"}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-report",
      "name": "Bericht Anfordern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "demo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-demo",
      "name": "Ist Demo-Befehl?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call/phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer VAPI_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"phoneNumberId\": \"f6e18747-7105-471c-b611-68048eeb2a1f\", \"assistantId\": \"bdcc6edf-095f-4cdc-93d5-a138be0b1c0b\", \"customer\": {\"number\": \"+201069564012\", \"name\": \"Atakan Demo\"}, \"assistantOverrides\": {\"variableValues\": {\"business_name\": \"Atakan Electric Co\", \"industry\": \"electrician\", \"city\": \"Savannah\", \"rating\": \"4.8\", \"reviews_count\": \"23\", \"top_review\": \"Great work, fixed our panel fast and clean.\", \"reviewer_name\": \"Steve\", \"preview_url\": \"https://teamgoldllc.de/preview?name=Atakan%20Electric\"}}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-demo",
      "name": "Demo-Anruf Starten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5381600986"
            },
            {
              "name": "text",
              "value": "={{ $json.id ? 'DEMO: Ryan ruft dich JETZT an auf +20 106 956 4012! Geh ran und spiel einen Elektriker aus Savannah.' : 'DEMO FEHLER: ' + JSON.stringify($json).substring(0,200) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tg-demo",
      "name": "TG: Demo Bestaetigt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        400
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Befehl Erkennen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Befehl Erkennen": {
      "main": [
        [
          {
            "node": "Ist Start-Befehl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Start-Befehl?": {
      "main": [
        [
          {
            "node": "Pipeline Starten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ist Bericht-Befehl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Starten": {
      "main": [
        [
          {
            "node": "TG: Start Bestaetigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Bericht-Befehl?": {
      "main": [
        [
          {
            "node": "Bericht Anfordern",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ist Demo-Befehl?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Demo-Befehl?": {
      "main": [
        [
          {
            "node": "Demo-Anruf Starten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TG: Hilfe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo-Anruf Starten": {
      "main": [
        [
          {
            "node": "TG: Demo Bestaetigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "DHlyso6CqDknJfBz"
  }
}