cold-caller/n8n/whatsapp-outreach-workflow.json
{
  "name": "WhatsApp Outreach Pipeline (Meta)",
  "nodes": [
    {
      "id": "sched-wa",
      "name": "Run Daily 10am (Mon-Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 10 * * 1-5" }
          ]
        }
      }
    },
    {
      "id": "wh-tg-wa",
      "name": "Manual Start (Telegram)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 460],
      "webhookId": "wa-start-tg",
      "parameters": {
        "path": "start-whatsapp-tg",
        "responseMode": "lastNode",
        "httpMethod": "POST"
      }
    },
    {
      "id": "wh-optout",
      "name": "WA Opt-Out Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 620],
      "webhookId": "wa-optout",
      "parameters": {
        "path": "wa-optout",
        "responseMode": "onReceived",
        "httpMethod": "POST"
      }
    },
    {
      "id": "code-optout",
      "name": "Mark Opt-Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 620],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst body = $input.first().json.body || $input.first().json;\nconst phone = String(body.phone || '').replace(/[^0-9]/g, '');\nconst digits = phone.length === 11 && phone.startsWith('1') ? phone.slice(1) : phone;\nif (digits.length === 10) {\n  if (!staticData.whatsappMessaged) staticData.whatsappMessaged = {};\n  staticData.whatsappMessaged[digits] = { opted_out: true, at: new Date().toISOString() };\n}\nreturn [{ json: { ok: true, phone: digits } }];"
      }
    },
    {
      "id": "code-wa-config",
      "name": "Set Config & Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 380],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst cfg = staticData.config || {};\n\nconst CITIES = cfg.cities || [\n  'Savannah GA','Atlanta GA','Charlotte NC','Nashville TN','Memphis TN',\n  'Jacksonville FL','Orlando FL','Tampa FL','Miami FL','Houston TX',\n  'Laredo TX','Lubbock TX','Corpus Christi TX','Little Rock AR','Wichita KS',\n  'Baton Rouge LA','Huntsville AL','Mobile AL','Fayetteville NC','Greenville SC'\n];\nconst INDUSTRIES = cfg.industries || [\n  'electrician','plumber','HVAC contractor','roofer','landscaper',\n  'painter','handyman','cleaning service','pest control','concrete contractor',\n  'fence contractor','tile installer','tree service','pool service','garage door repair'\n];\nconst maxMsg = cfg.max_whatsapp || 25;\n\nconst combos = [];\nconst used = new Set();\nwhile (combos.length < 8 && combos.length < CITIES.length * INDUSTRIES.length) {\n  const c = CITIES[Math.floor(Math.random() * CITIES.length)];\n  const i = INDUSTRIES[Math.floor(Math.random() * INDUSTRIES.length)];\n  const key = c + '|' + i;\n  if (!used.has(key)) { used.add(key); combos.push({city: c, industry: i}); }\n}\n\nreturn combos.map(x => ({ json: { ...x, max_messages: maxMsg } }));"
      }
    },
    {
      "id": "http-places-wa",
      "name": "Google Places — Find Businesses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 380],
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Goog-Api-Key", "value": "GOOGLE_PLACES_API_KEY" },
            { "name": "X-Goog-FieldMask", "value": "places.displayName,places.formattedAddress,places.nationalPhoneNumber,places.websiteUri,places.id,places.rating,places.userRatingCount" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "textQuery": "={{ $json.industry + ' in ' + $json.city }}",
          "maxResultCount": 20,
          "regionCode": "US"
        },
        "options": {}
      }
    },
    {
      "id": "code-filter-wa",
      "name": "Filter: No Website + Has Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 380],
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of $input.all()) {\n  const places = item.json.places || [];\n  const prevNode = $('Set Config & Target');\n  const industry = prevNode.first ? prevNode.first().json.industry : '';\n  const city = prevNode.first ? prevNode.first().json.city : '';\n  for (const p of places) {\n    if (p.websiteUri) continue;\n    const phone = p.nationalPhoneNumber || '';\n    if (!phone) continue;\n    results.push({ json: {\n      business_name: p.displayName?.text || '',\n      phone,\n      industry,\n      city,\n      rating: p.rating || 0,\n      reviews_count: p.userRatingCount || 0,\n      place_id: p.id || '',\n      address: p.formattedAddress || ''\n    }});\n    if (results.length >= 5) break;\n  }\n  if (results.length >= 5) break;\n}\nreturn results;"
      }
    },
    {
      "id": "code-dedup-wa",
      "name": "Skip If Already Messaged",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 380],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.whatsappMessaged) staticData.whatsappMessaged = {};\n\nconst out = [];\nconst maxMsg = 25;\n\nfor (const item of $input.all()) {\n  const l = item.json;\n  let digits = String(l.phone || '').replace(/[^0-9]/g, '');\n  if (digits.length === 11 && digits.startsWith('1')) digits = digits.slice(1);\n  if (digits.length !== 10) continue;\n  if (staticData.whatsappMessaged[digits]) continue;\n  if (out.length >= maxMsg) break;\n  out.push({ json: { ...l, phone_digits: digits } });\n}\nreturn out;"
      }
    },
    {
      "id": "code-preview-wa",
      "name": "Generate Preview & Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 380],
      "parameters": {
        "jsCode": "const l = $input.first().json;\n\n// WhatsApp API needs number in international format without +\n// Egyptian recipient US numbers: 1 + 10 digits\nconst wa_to = '1' + l.phone_digits;\n\n// business_name used as {{1}} template variable\nconst business_name = l.business_name || 'there';\n\nreturn [{ json: { ...l, wa_to, business_name } }];"
      }
    },
    {
      "id": "http-wa-send",
      "name": "Send WhatsApp (Meta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1520, 380],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/WHATSAPP_PHONE_NUMBER_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer WHATSAPP_ACCESS_TOKEN" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  messaging_product: 'whatsapp',\n  to: $json.wa_to,\n  type: 'template',\n  template: {\n    name: 'WHATSAPP_TEMPLATE_NAME',\n    language: { code: 'en' },\n    components: [{\n      type: 'body',\n      parameters: [{ type: 'text', text: $json.business_name }]\n    }]\n  }\n}) }}",
        "options": {
          "response": {
            "response": { "neverError": true }
          }
        }
      }
    },
    {
      "id": "code-save-wa",
      "name": "Save & Mark Messaged",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 380],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst l = $('Generate Preview & Message').first().json;\nconst today = new Date().toISOString().slice(0,10);\nconst digits = l.phone_digits;\n\nif (!staticData.whatsappMessaged) staticData.whatsappMessaged = {};\nstaticData.whatsappMessaged[digits] = { at: new Date().toISOString(), name: l.business_name };\n\nif (!staticData.waLeads) staticData.waLeads = [];\nstaticData.waLeads.push({\n  business_name: l.business_name,\n  phone: l.phone,\n  phone_digits: digits,\n  industry: l.industry,\n  city: l.city,\n  status: 'sent',\n  sent_at: new Date().toISOString()\n});\nif (staticData.waLeads.length > 500) staticData.waLeads = staticData.waLeads.slice(-500);\n\nif (!staticData.waDailyCosts) staticData.waDailyCosts = {};\nif (!staticData.waDailyCosts[today]) staticData.waDailyCosts[today] = {count: 0, cost: 0};\nstaticData.waDailyCosts[today].count++;\nstaticData.waDailyCosts[today].cost = parseFloat((staticData.waDailyCosts[today].count * 0.025).toFixed(4));\n\nreturn [{ json: { ...l, saved: true } }];"
      }
    },
    {
      "id": "code-agg-wa",
      "name": "Agg: WhatsApp Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 380],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0,10);\nconst dayData = (staticData.waDailyCosts || {})[today] || {count:0, cost:0};\nconst sent = $input.all();\n\nlet text = 'WHATSAPP OUTREACH ABGESCHLOSSEN\\n\\n';\ntext += 'Heute gesendet: ' + dayData.count + ' Nachrichten\\n';\ntext += 'Kosten heute: $' + dayData.cost.toFixed(4) + '\\n\\n';\n\nif (sent.length > 0) {\n  text += 'Diese Runde:\\n';\n  sent.forEach(s => {\n    const l = s.json;\n    text += '  - ' + (l.business_name||'?') + ' (' + (l.city||'') + ')\\n';\n  });\n}\n\nreturn [{ json: { report_text: text } }];"
      }
    },
    {
      "id": "tg-wa-report",
      "name": "TG: WhatsApp Bericht",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2180, 380],
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "chat_id", "value": "5381600986" },
            { "name": "text", "value": "={{ $json.report_text }}" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Run Daily 10am (Mon-Fri)": {
      "main": [[{ "node": "Set Config & Target", "type": "main", "index": 0 }]]
    },
    "Manual Start (Telegram)": {
      "main": [[{ "node": "Set Config & Target", "type": "main", "index": 0 }]]
    },
    "WA Opt-Out Webhook": {
      "main": [[{ "node": "Mark Opt-Out", "type": "main", "index": 0 }]]
    },
    "Set Config & Target": {
      "main": [[{ "node": "Google Places — Find Businesses", "type": "main", "index": 0 }]]
    },
    "Google Places — Find Businesses": {
      "main": [[{ "node": "Filter: No Website + Has Phone", "type": "main", "index": 0 }]]
    },
    "Filter: No Website + Has Phone": {
      "main": [[{ "node": "Skip If Already Messaged", "type": "main", "index": 0 }]]
    },
    "Skip If Already Messaged": {
      "main": [[{ "node": "Generate Preview & Message", "type": "main", "index": 0 }]]
    },
    "Generate Preview & Message": {
      "main": [[{ "node": "Send WhatsApp (Meta)", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp (Meta)": {
      "main": [[{ "node": "Save & Mark Messaged", "type": "main", "index": 0 }]]
    },
    "Save & Mark Messaged": {
      "main": [[{ "node": "Agg: WhatsApp Report", "type": "main", "index": 0 }]]
    },
    "Agg: WhatsApp Report": {
      "main": [[{ "node": "TG: WhatsApp Bericht", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "whatsapp-outreach" }]
}
