cold-caller/n8n/whatsapp-inbound-webhook.json
{
  "name": "WhatsApp Inbound — Nachrichten → Telegram",
  "nodes": [
    {
      "id": "wh-inbound",
      "name": "WhatsApp Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "whatsapp-inbound",
      "parameters": {
        "path": "whatsapp-inbound",
        "responseMode": "onReceived",
        "httpMethod": "GET"
      }
    },
    {
      "id": "wh-inbound-post",
      "name": "WhatsApp Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 460],
      "webhookId": "whatsapp-inbound-post",
      "parameters": {
        "path": "whatsapp-inbound",
        "responseMode": "onReceived",
        "httpMethod": "POST"
      }
    },
    {
      "id": "code-verify",
      "name": "Meta Webhook Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst VERIFY_TOKEN = 'WHATSAPP_VERIFY_TOKEN';\nif (q['hub.verify_token'] === VERIFY_TOKEN) {\n  return [{ json: { challenge: q['hub.challenge'] } }];\n}\nreturn [{ json: { error: 'invalid token' } }];"
      }
    },
    {
      "id": "http-challenge",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}"
      }
    },
    {
      "id": "code-parse-msg",
      "name": "Parse WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 460],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst body = $input.first().json.body || $input.first().json;\n\nlet from = '';\nlet text = '';\nlet senderName = '';\n\ntry {\n  const entry = (body.entry || [])[0] || {};\n  const change = (entry.changes || [])[0] || {};\n  const value = change.value || {};\n\n  // 1) Delivery status update (failed = no WhatsApp / landline / unreachable)\n  const status = (value.statuses || [])[0];\n  if (status) {\n    if (status.status === 'failed') {\n      return [{ json: { from: status.recipient_id || '', sender_name: '', text: '', action: 'delivery_failed' } }];\n    }\n    return [{ json: { skip: true } }]; // sent/delivered/read - nothing to do\n  }\n\n  // 2) Inbound text message from a real person\n  const msg = (value.messages || [])[0] || {};\n  const contact = (value.contacts || [])[0] || {};\n  from = msg.from || ''; // e.g. '19125550147'\n  text = (msg.text || {}).text || '';\n  senderName = (contact.profile || {}).name || from;\n} catch(e) {\n  return [{ json: { skip: true } }];\n}\n\nif (!from || !text) return [{ json: { skip: true } }];\n\n// Store last sender for /r reply feature\nstaticData.lastWaSender = { phone: from, name: senderName, at: new Date().toISOString() };\n\nconst textLower = text.trim().toLowerCase();\nlet action = 'forward';\n// Interesse (EN + DE)\nif (textLower === 'yes' || textLower === 'ja' || textLower === 'interesse' || textLower.includes('interested') || textLower.includes('interessiert')) action = 'hot_lead';\n// Abmeldung (EN + DE)\nif (textLower === 'stop' || textLower === 'opt out' || textLower === 'unsubscribe' || textLower === 'nein' || textLower === 'abmelden' || textLower === 'kein interesse') action = 'optout';\n\nreturn [{ json: { from, text, sender_name: senderName, action } }];"
      }
    },
    {
      "id": "if-skip",
      "name": "Gueltige Nachricht?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 460],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-action",
      "name": "Welche Aktion?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [860, 380],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.action }}", "rightValue": "optout", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.action }}", "rightValue": "hot_lead", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.action }}", "rightValue": "forward", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "leftValue": "={{ $json.action }}", "rightValue": "delivery_failed", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-blacklist-failed",
      "name": "Blacklist: Kein WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 640],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/wa-optout",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $json.from }) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "http-optout-call",
      "name": "Opt-Out Speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 280],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/wa-optout",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $json.from }) }}",
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "http-leadinfo",
      "name": "Lead Info Abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 400],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5678/webhook/get-wa-lead",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $json.from }}" }
          ]
        },
        "options": { "timeout": 5000 }
      }
    },
    {
      "id": "tg-hot-lead",
      "name": "TG: Heisser Lead!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 400],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "chat_id", "value": "5381600986" },
            {
              "name": "text",
              "value": "={{ (() => {\n  const lead = $json || {};\n  const p = $('Parse WhatsApp Message').first().json;\n  const flag = lead.market === 'DE' ? '🇩🇪 DE' : '🇺🇸 US';\n  let t = '🔥 HEISSER LEAD! Hat geantwortet (\"' + (p.text||'') + '\").\\n\\n';\n  t += flag + '  ' + (lead.business_name || p.sender_name || 'Unbekannt') + '\\n';\n  if (lead.industry || lead.city) t += (lead.industry || '') + ' | ' + (lead.city || '') + '\\n';\n  if (lead.rating) t += lead.rating + ' Sterne (' + (lead.reviews_count || 0) + ' Reviews)\\n';\n  if (lead.address) t += lead.address + '\\n';\n  t += 'Tel: +' + p.from + '\\n';\n  if (lead.sent_human) t += 'WhatsApp gesendet: ' + lead.sent_human + '\\n';\n  if (lead.maps_url) t += '\\nMaps (vor dem Gespraech anschauen):\\n' + lead.maps_url + '\\n';\n  t += '\\nAntworten mit:\\n/r ' + p.from + ' <deine Nachricht>';\n  return t;\n})() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "tg-forward",
      "name": "TG: Nachricht Weiterleiten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 520],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "chat_id", "value": "5381600986" },
            {
              "name": "text",
              "value": "={{ '📱 WhatsApp von: ' + $json.sender_name + '\\nNummer: +' + $json.from + '\\n\\n\"' + $json.text + '\"\\n\\nAntworten: /r ' + $json.from + ' <deine Antwort>' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "tg-optout-confirm",
      "name": "TG: Opt-Out Bestaetigt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1300, 280],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "chat_id", "value": "5381600986" },
            {
              "name": "text",
              "value": "={{ '🚫 Opt-Out: ' + $json.sender_name + ' (+' + $json.from + ') will keine Nachrichten mehr. Automatisch aus der Liste entfernt.' }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "WhatsApp Inbound Webhook": {
      "main": [[{ "node": "Meta Webhook Verify", "type": "main", "index": 0 }]]
    },
    "Meta Webhook Verify": {
      "main": [[{ "node": "Return Challenge", "type": "main", "index": 0 }]]
    },
    "WhatsApp Message Received": {
      "main": [[{ "node": "Parse WhatsApp Message", "type": "main", "index": 0 }]]
    },
    "Parse WhatsApp Message": {
      "main": [[{ "node": "Gueltige Nachricht?", "type": "main", "index": 0 }]]
    },
    "Gueltige Nachricht?": {
      "main": [
        [{ "node": "Welche Aktion?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Welche Aktion?": {
      "main": [
        [{ "node": "Opt-Out Speichern", "type": "main", "index": 0 }],
        [{ "node": "Lead Info Abrufen", "type": "main", "index": 0 }],
        [{ "node": "TG: Nachricht Weiterleiten", "type": "main", "index": 0 }],
        [{ "node": "Blacklist: Kein WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Lead Info Abrufen": {
      "main": [[{ "node": "TG: Heisser Lead!", "type": "main", "index": 0 }]]
    },
    "Opt-Out Speichern": {
      "main": [[{ "node": "TG: Opt-Out Bestaetigt", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "whatsapp-outreach" }]
}
